[Desktop Entry]
Exec=/usr/bin/jamesdsp --tray
Icon=jamesdsp
Name=JamesDSP for Linux
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-Delay=6
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
X-KDE-autostart-phase=2
X-MATE-Autostart-Delay=6
Hidden=true

