[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Syncthing
Comment=File Sync
Exec=syncthing --no-browser
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

